# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
# Usually these files are generated in a `build/` and `dist/` directory
# however, you can configure them in `.spec` file.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
